/*main stylings */
body {
    background-color: #71583f;
}

#title {
    text-align: center;
    color: bisque;
}

img {
    display:flex;
    
  }
  
  #image {
    max-width: 100%;
    height: auto;
  }
  