/*main stylings */
body {
    background-color: #71583f;
}

#title {
    text-align: center;
    color: bisque;
}

#img-div {
  text-align: center;
}

#image {
  max-width: 100%;
  height: auto;
  display: inline-block;
  border-radius: 25px;
  
}
  
  
  